<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta property="fullbleed" content="<%= htmlWebpackPlugin.options.isFullbleed %>" />
    <meta property="slug" content="<%= htmlWebpackPlugin.options.slug %>" />
    <meta property="apple-fallback" content="<%= htmlWebpackPlugin.options.appleFallback %>" />
    <meta property="newsletter-fallback" content="<%= htmlWebpackPlugin.options.newsletterFallback %>" />
    <link rel="icon" type="image/png" href="https://static.axios.com/img/axiosvisuals-favicon-128x128.png" sizes="128x128" />
    <link rel="stylesheet" type="text/css" href="{{static 'css/main.css'}}">
    <title><%= htmlWebpackPlugin.options.title %> | Axios</title>
  </head>
  <body>
    <div class="chart-container">
      <div class="chart"></div>
    </div>
    <%=htmlWebpackPlugin.files.webpackManifest%>
  </body>
</html>
