<div class="card-module-row card-module-row--two-col">
  <div class="card-module card-module--paragraph">
    <h3 class="card-module__header has--rule">{{ subhead }}</h3>
    <div class="card-module__body">
      <div class="card-module__component-image">
        <img src="{{ graphicUrl }}">
      </div>
      <p>{{ text1 }}</p>
    </div>
  </div>
  <div class="card-module card-module--paragraph">
    <h3 class="card-module__header has--rule">{{ subhead2 }}</h3>
    <div class="card-module__body">
      <div class="card-module__component-number">
        <p>{{ graphicNumber }}</p>
      </div>
    </div>
  </div>
</div>