<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <meta property="fullbleed" content="<%= htmlWebpackPlugin.options.isFullbleed %>" />
  <meta property="slug" content="<%= htmlWebpackPlugin.options.project.slug %>" />
  <link rel="icon" type="image/png" href="https://static.axios.com/img/axiosvisuals-favicon-128x128.png"
    sizes="128x128" />
  <meta property="apple-fallback" content="<%= htmlWebpackPlugin.options.appleFallback %>" />
  <meta property="newsletter-fallback" content="<%= htmlWebpackPlugin.options.newsletterFallback %>" />
  <title><%= htmlWebpackPlugin.options.title %> | Axios Visuals</title>
</head>

<body>
  <div class="chart-container">
    <h4 class="headline">Headline</h4>
    <h5 class="headline-units">Dek</h5>
    <div class="chart">
      <!-- Convert a CSV to a table here: https://www.convertcsv.com/csv-to-html.htm -->
<!--       <table class="table">
        <thead>
          <thead>
            <tr>
              <th title="Field #1">Head 1</th>
              <th title="Field #2">Head 2</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td>Field 1</td>
            <td>Field 2</td>
          </tr>
          <tr>
            <td>Field 1</td>
            <td>Field 2</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
  </div>
</body>

</html>
