<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <meta property="fullbleed" content="<%= htmlWebpackPlugin.options.isFullbleed %>" />
  <meta property="slug" content="<%= htmlWebpackPlugin.options.project.slug %>" />
  <link rel="icon" type="image/png" href="https://static.axios.com/img/axiosvisuals-favicon-128x128.png"
    sizes="128x128" />
  <meta property="apple-fallback" content="<%= htmlWebpackPlugin.options.appleFallback %>" />
  <meta property="newsletter-fallback" content="<%= htmlWebpackPlugin.options.newsletterFallback %>" />
  <title><%= htmlWebpackPlugin.options.title %> | Axios Visuals</title>
</head>

<body>
  <div class="chart-container">
    <h1 class="headline"></h1>
    <ul class="legend">
      <li><span class="legend-dot established"></span>Established pledge</li>
      <li><span class="legend-dot commitment"></span>Commitment, no pledge</li>
      <li><span class="legend-dot none"></span>No commitment or pledge</li>
    </ul>
    <div class="map">
    </div>
  </div>
</body>

</html>